# Symfony VarDumper Configuration
VAR_DUMPER_FORMAT=server
VAR_DUMPER_SERVER=host.docker.internal:9912

# Logging Configuration
LOG_PATH="var/log/logstash-%s.json"

# Buggregator Configuration
BUGGREGATOR_HOST=host.docker.internal
BUGGREGATOR_PORT=9913 